
/*----navbar--*/
.navbar-chi {
  background-color:#B3DDF2;
    color:#fff;
    border-radius:0;
}
  
.navbar-chi .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-chi .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
  background-color:transparent;
}
      
.navbar-chi .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #CAEAFA;
}
      
.navbar-chi .navbar-brand {
    color:#fff;
}
.navbar-chi .navbar-toggle {
    background-color:#CAEAFA;
}
.navbar-chi .icon-bar {
    background-color:#fff;
}

#stars{
  color: #FF0000;
}

/*----LAYOUT STUFFS----*/
body { 
  padding: 50px 0 0 0;
}

.headline{
	margin-top:70px;
}
.twitpic{
	width: 3em;
	margin: 5px; 
}
.centered{
	text-align: center;
}

.container {
	max-width: 700px;
	margin: 0 auto 0 auto;
}

input[type="text"] {
	width: 100%;
}

.carousel-caption {
  top: 90px;
}

.btn-info {
  margin-top: 30px;
}

label { font-weight: normal; }

.col-xs-12.quest {
  font-weight: bold;
  font-size: 17px;
  margin: 20px 0 5px;
}

.row.question-row {
  border-top: 1px solid #EEE;
  padding-bottom: 25px;
}

/*----TYPE STUFFS----*/
.navbar-brand, h1, h3, label{
	font-family: 'Francois One', sans-serif;
}
h4{
	font-weight:normal;
	color:#777777;
}
.error { color: red; }

/*-----WEIRDNESSES-----*/

/*--responsive tables in ff--*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
