/*--Animated hamburger ui--*/
.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

/*----Colors, etc.--*/
.navbar-chi{
  background-color: #B3DDF2;
}

/*----LAYOUT STUFFS----*/
body { 
  padding: 50px 0 0 0;
}

.headline{
	margin-top:70px;
}
.twitpic{
	width: 3em;
	margin: 5px; 
}
.centered{
	text-align: center;
}

.container {
	max-width: 700px;
	margin: 0 auto 0 auto;
}

input[type="text"] {
	width: 100%;
}

.carousel-caption {
  top: 90px;
}

.btn-info {
  margin-top: 30px;
}

label { font-weight: normal; }

.col-xs-12.quest {
  font-weight: bold;
  font-size: 17px;
  margin: 20px 0 5px;
}

.row.question-row {
  border-top: 1px solid #EEE;
  padding-bottom: 25px;
}

/*----TYPE STUFFS----*/
.navbar-brand, h1, th{
	font-family: 'Francois One', sans-serif;
}
h4{
	font-weight:normal;
	color:#777777;
}
.error { color: red; }

/*-----WEIRDNESSES-----*/

/*--responsive tables in ff--*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
