/*----LAYOUT STUFFS----*/
.headline{
	margin-top:70px;
}
.twitpic{
	width: 3em;
	margin: 5px; 
}
.centered{
	text-align: center;
}

/*----TYPE STUFFS----*/
.navbar-brand, h1, th{
	font-family: 'Francois One', sans-serif;
}
h4{
	font-weight:normal;
	color:#777777;
}

/*-----WEIRDNESSES-----*/

/*--responsive tables in ff--*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
